header{
	background: linear-gradient(to bottom, #7e00bd, #a50af2, #ffffff) ;
	
}

.caixa{

	position: relative;
	width: 940px;
	margin: 0 auto;
	font-weight: bold;
	padding: 50px 20px;
	box-sizing: border-box;
	text-align: center;
	font-size: 35px;
	color: #ffffff;
	font-style: normal;
	padding: 130px;


}

.a{

	width:100px;
    height:100px;
    border: 10px;
    border-radius:90px;
}



nav{

	position: absolute;
	top: 110px;
	right: 0;

}

.menu{

	background: #000000;
	border-radius: 10px;
	padding: 10px 80px;

}

nav li {

	display: inline;
	margin: 0 0 0 15px;
}

nav li:hover{
	color: pink;
}

.font-menu{

	color: #ffffff;
	font-size: 20px;
	margin: 32px;
}

nav a{

	text-transform: uppercase;
	color: #000000
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

.icons{

	display: inline-block;
}

.icons a{

	color: #ffffff
}

.icons a:hover{

	color: black;
}


.topnav {


  background-color: #333;
  overflow: hidden;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 40px;
  text-decoration: none;
  font-size: 20px;
  font-style: normal;
}

/* Change the color of links on hover */	

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;

}

.circulo {
	width: 200px;
	height: 20px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
	margin: 100px;
	transition: 0.3s ease;
}

.centro{
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

	
.subtitulo{

	padding: 20px;
	font-size: 25px;


}

.conhecimentos{
	text-align: center;
	font-size: 25px;
	font-style: italic; 
	padding: 30px;
	font-weight: bold;
}
.conhecimento li {

	vertical-align: top;
	display: inline-block;
	
}

.conhecimento li:hover{
	color: red;
	border-color: red;
	
}


.centrodocker{

	padding: 10px;
	padding-left: 30px;
	width: 130px;
	height: 130px;
	border-radius: 20%;
}

.centrojava{

	padding: 10px;
	padding-left: 50px;
	width: 130px;
	height: 130px;
	border-radius: 20%;
}

.centrospring{

	padding: 10px;
	padding-left: 50px;
	width: 130px;
	height: 130px;
	border-radius: 20%;
}

.centroaws{

	padding: 10px;
	padding-left: 50px;
	width: 130px;
	height: 130px;
	border-radius: 20%;
}

.centrogit{

	padding: 10px;
	padding-left: 50px;
	width: 130px;
	height: 130px;
	border-radius: 20%;
}
.centrospringcloud{

	padding: 10px;
	padding-left: 50px;
	width: 130px;
	height: 130px;
	border-radius: 20%;
}

.centrodevops{

	padding: 5px;
	padding-left: 50px;
	width: 130px;
	height: 130px;
	border-radius: 20%;
}

.descricaoConhecimento{
	
	font-size: 20px;
	font-style: normal;
	padding: 2px;
	padding-left: 50px;
}

.descricaoConhecimentoJava{
	font-size: 20px;
	font-style: normal;
	padding: 2px;
	padding-left: 90px;

}
.descricaoConhecimentoSpring{
	font-size: 20px;
	font-style: normal;
	padding: 2px;
	padding-left: 90px;

}
.descricaoConhecimentoGit{
	font-size: 20px;
	font-style: normal;
	padding: 2px;
	padding-left: 98px;

}
.spring{
	
	font-size: 20px;
	font-style: normal;
	width: : 50%;
	padding-top: auto;
	padding-left: 500px;


}

.hr3 {
  border: 0;
  height: 5px;
  background-image: linear-gradient(to right, transparent, #9e0cf2, transparent);  
}


.reconhecimentoh1{
	text-align: center;
	padding-left: 50px;
	font-size: 22px;
	font-style: italic; 
	padding: 30px;
	font-weight: bold;
}

}


.querido{
	padding: 15px;
	padding-left: 220px;

	font-size: 20px;
}


.teste1{
	padding: 1px;
	padding-left: 200px;
	display: inline-block;


}

.teste2{

	padding: 60px;
	width: 300px;
	height: 300px;
	border-radius: 50%;
}

.teste3{

	width: 300px;
	height: 300px;
	border-radius: 50%;
}

.campoteste{
	padding: 10px;
    max-width:500px;
    margin-left:130px;
    font-size: 25px;
    float:left;
    text-indent: 80px;
    text-align: justify;
  	text-justify: inter-word;

}

.reconhecimentoCPS{

	padding-right: 90px;
	font-size: 40px;
	padding: 80px;

}

.teste3{



}
.reconhecimentoCPSo{
	
	text-align: right;
	font-size: 40px;
	padding: 80px;
}

.testee{
	padding: 1px;
	padding-left: 200px;
	display: inline-block;

}


.queridoo{
	padding: 15px;
	font-size: 20px;
}

.campotestee{
    max-width:500px;
    margin-right: 100px;
    font-size: 30px;
    float:right;
    text-indent: 80px;
    text-align: justify;
  	text-justify: inter-word;

}


.centroCertificado{

	padding: 10px;
	padding-left: 80px;
	width: 520px;
	height: 330px;
	border-radius: 1%;
}

.centroprojeto{

	padding: 10px;
	padding-left: 0px;
	width: 570px;
	height: 330px;
	border-radius: 1%;

}

.display{

	display: inline-block;
	vertical-align: top;
}


.produto {
	width: 600px;
	margin: 0px;
	padding: 5px 0;
	
}


.produto li{
	display: inline-block;
	vertical-align: top;
	width: 30%;
	margin-top: 10px;
	border-color: #000000;
	border-width: 5px;
	border-style: solid;
	border-radius: 20px;
	padding-right: 210px;

}

.produto li:hover{
	color: #9e0cf2;
	border-color: #9e0cf2;
	
}

.produto li:hover h2{

	font-size: 20px;
}

.produto li:active{
	color: red;
	border-color: red;
}


.produto h2 {


	font-weight:bold;
	
}

.produto p {

}

.titulo-promocao{

	padding-left: 200px;
	font-size: 10px;
	font-weight: bold;
}

.descricao{

	padding-left: 140px;
	font-size: 10px;
	text-align: justify;
  	text-justify: inter-word;

}

.produto li:hover p{

	font-size: 17px;
}

.precoprod{

	font-size: 30px;
	color: red;
	margin: 23px;

}

.footer{

	background: #ffffff;
	padding: 10px 1px;
}

.copyright{

	padding: 10px;
	text-align: center;
	color: #000000;

}

.campoprojeto{	

	padding: 30px;
    max-width:500px;
    margin-right: 123px;
    font-size: 20px;
    float:right;
    text-indent: 80px;
    text-align: justify;
  	text-justify: inter-word;
  	line-height: 1.5;


}

.campoprojetoo{	


	padding: 30px;
    max-width:500px;
    margin-left: 59px;
    font-size: 20px;
    float:left;
    text-indent: 80px;
    text-align: justify;
  	text-justify: inter-word;
  	line-height: 1.5;


}